* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: black;
}

body {
    height: 100%;
    width: 100%;
    background-color: #ffecdc;
}

#header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.724);
    position: fixed;
    background-color: #ffecdc;
    top: 0;
}


#header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#header ul {
    width: 35%;
    display: flex;
    gap: 5px;
    display: flex;
    justify-content: center;
}

#header li {
    margin: 0 15px;
    font-size: 2.5vw;
}


#header #logo {
    font-size: 4vw;
    padding: 0px 0px 0px 20px;
    color: black;
    font-weight: 600;
}

.one {
    height: 500px;
    background-image: url(../img/shop.jpg);
    background-size: cover;
    /* This will make the background image cover the entire container */
    background-position: center;
    /* This will center the background image */
}

.two {
    height: 500px;
    background-color: #ffecdc;
    line-height: 40px;
    padding: 50px;
    font-size: 1.2rem;
    border: 2px solid #ffdbbd;
}








/* hero 3 */
#hero3 {
    background-image: url(../img/2.jpg);
    height: 800px;
    width: 100%;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


#hero3 .first {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.frame {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.frame h1 {
    font-size: 2rem;
}

#subscribe {
    margin: 0;
    display: flex;
    box-shadow: 5px 5px 10px rgb(61, 61, 61);
}

#subscribe button {
    margin: 0;
    width: 60px;
    height: 40px;
    background-color: red;
}

#subscribe button img {
    width: 40px;
    color: #fdf1e7;
}

#subscribe input {
    margin: 0;
    padding: 10px;
    background-color: #fff;
}

.categries {
    display: flex;
    flex-direction: column;
}

.categries a {
    color: red;
    text-decoration: underline;
    font-size: 1.5rem;
    padding: 10px 0;
}




#hero3 .second {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding-right: 100px;
}

.book-detail {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.book-detail img {
    width: 200px;
    filter: drop-shadow(5px 5px 5px rgb(102, 102, 102));
}

.book-detail:hover img {
    transform: scale(1.1);
    /* Adjust the scale factor as needed */
    filter: drop-shadow(10px 10px 5px rgb(102, 102, 102));
    transition: all .5s ease-in-out;
    /* Add a smooth transition effect */

}